.site-header {
  height: 50px;
  a {
    color: inherit;
  }
  .nav{
    height: 100%;
    .nav-link{
      display: flex;
      align-items: center;
      height: 100%;
      border: none;
      border-radius : 0.25rem;
    }
  }
  .nav-tabs{
    border : none;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    justify-content: space-between;
    .nav-group{
      display: flex;
    }
    .nav-item{
      margin-bottom: 0
    }
    .nav-link:hover,.nav-link.active,.nav-item.show .nav-link{
      background: #0F2027;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #fff;
    }
  }
}