/*common slider*/
.slider-wrapper {
    position: relative;
    .slider-count {
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        z-index: 2;
    }
}
/*common slider end*/

body.social {
    .gymain {
        width: 100%;
        max-width: 1366px;
    }
    .mid_outer {
        width: calc(100% - 30px);
        margin: auto;
        float: none;
        box-shadow: none;
        background: transparent;
    }
    .rt_outer {
        width: 100%;
        float: none;
        padding: 0;
    }
}


.post-list-container {
    margin: auto;
    .post-holder {
        position: relative;
        margin-bottom: 20px;
    }
}


/*bottom bar*/
.bottom-bar {
	width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}
.bottom-bar:hover {
    color: #fff;
}
/*bottom bar end*/

/*more options*/
.post-list-container .more-options {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 5;
    .icon-wrapper {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        cursor: pointer;
        span {
            color: inherit;
        }
    }
    .more-tooltip {
        position: absolute;
        min-width: 180px;
        right: 18px;
        top: 18px;
        background: #FFFFFF;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.30);
        border-radius: 5px;
        overflow: hidden;
        font-size: 14px;
        .more-item {
            min-height: 40px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;
            .item-icon {
                margin-right: 5px;
                color: #666;
                font-size: 16px;
            }
        }
        .more-item:first-child {
            margin-top: 10px;
        }
        .more-item:last-child {
            margin-bottom: 10px;
        }
        .more-item:hover {
            background: rgba(74,144,226,0.10);
        }
    }
}
.post-holder.hidden-post {
    .more-options .icon-wrapper {
        color: #fff;
    }
}
/*more options end*/

/*hidden msg*/
.hidden-msg {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    min-height: 55px;
    background: rgba(0,0,0,0.70);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    .icon-hide {
        align-self: flex-start;
        margin-top: 2px;
        margin-right: 5px;
    }
}

/*product post*/
.products-post-container {
    .product-details {
        padding: 10px;
        color: #333;
        background: #EDF7FF;
        .icon-currency {
            font-size: 15px;
            color: inherit;
            position: relative;
            top: 2px;
            margin-right: 2px;
        }
    }
    .product-price {
        color: #018100;
    }
}
/*product post end*/